<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.buybuyall.market"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>
    <application
        android:name=".MarketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/app_theme">
        <!--<activity-->
            <!--android:name=".ui.TestPullActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/activity_style_main">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/activity_style_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/activity_style_main"/>
        <activity
            android:name=".ui.SearchActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.ClassListActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.VenuesListActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.GoodsDetailActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.BrandListActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.SpecialActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.ForgetPwActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.RegisterActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.WebActivity"
            android:theme="@style/swipe_activity_style"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
